@inject FBLARoverAgenda_Backend.Domain.Entities.Settings.ApplicationSettings Settings;
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 fw-bold">Our Team</h1>
            <p class="lead mb-0">Our team is comprised of 2 high school students and 1 college student.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">


        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/img/vincent.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-purple-lt" style="margin-right: .2rem">Backend</h5> <h5 class="small text-uppercase text-muted badge bg-green-lt">Frontend</h5>
                    <p class="lead mb-0">Hi! I am a 17 year old student at Easton Area High School. I like to program and also like to participate in simulation games, such as iRacing & DCS.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/img/emma.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Emma Li</h1>
                    <h5 class="small text-uppercase text-muted badge bg-red-lt" style="margin-right: .2rem">Artist</h5><h5 class="small text-uppercase text-muted badge bg-green-lt">Frontend</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-4 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/img/karolina.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Karolina Kotlarz</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Frontend</h5>
                    <p class="lead mb-0">When she's not coding, Karolina loves to write stories, play chess, and practice her Norwegian skills.</p>
                    <br/>
                </div>
            </div>
        </div>


    </div>




</div>